@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');


body{
	margin: 0;
	padding: 0;
	font-family: 'raleway',sans-serif;
    overflow-x: hidden;
 }
 /* section{
     margin:30px;
 } */

/* =========== mega menu ============= */
.flex-fill {
    flex:1;
 }
 .site-header a {
     color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
  }
  .navbar-nav{
    min-height: 50px;
  }
  .navbar-inner{
    background: transparent;
  }

	.navbar-nav .nav-link-outer {
		color :#fff;
	}
  .navbar-nav li .active {
    color: #235369;
  }
  .navbar-nav li a:hover {
    color: #235369;
  }
  nav.solid{
    background: #fff;
  }
  nav.solid .nav-link-outer{
      color:#000;
  }
  .dropdown:hover>.dropdown-menu{
      display:block;
  }
  .mega-menu{
      width: 600px;
      overflow: hidden;
      padding: 10px;
  }
  .nav-sub-heading{
      border: 5px ;
      background-color:#EFEFEF;
      width: 60%;
      padding: 4px 10px;
      margin: 14px;
  }
  .dropdown-item i {
    float: left;
    font-size: 18px;
    margin-right: 6px;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
    }
    .dropdown-item{
        text-align: center;
        line-height: 35px !important;
        width: 35px;
        height: 35px;
    }
/* ============== sidenav ============ */


/* ================ hero section ============ */
#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.5)), url('../assets/images/for_me_images/travel.jpg') top left repeat;
    background-size: cover;
  }

#hero .container-fluid {
	padding-top:40vh;
}

#hero h2 {
	color: #fff;
}

/* =============== our services ============  */
 .heading{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
 .heading::after{
	content: "";
	width: 130px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
  background: #57AACD;
	left: 0;
	right: 0;
	bottom: -10px;
}
.demo{ padding-bottom: 40px; }
.serviceBox{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 10px;
 }
.serviceBox .service-icon{
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    font-size: 50px;
    line-height: 170px;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{ font-size: 60px; }
.serviceBox .service-icon:before{
    content: '';
    height: 90%;
    width: 90%;
    background: linear-gradient(to right,#F64354 49%,#DC3F55 50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon:before{
    height: 83%;
    width: 83%;
}
.serviceBox .title{
    color: #404040;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .title{ color: #DC3F55; }
.serviceBox .description{
    color: #808080;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.serviceBox .read-more{
    color: #fff;
    background-color: #DC3F55;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    opacity: 0;
    display: inline-block;
    -webkit-clip-path: polygon(0% 15%, 16% 18%, 15% 0%, 85% 0%, 82% 16%, 100% 15%, 100% 85%, 82% 82%, 85% 100%, 15% 100%, 18% 83%, 0% 85%);
    clip-path: polygon(0% 15%, 16% 18%, 15% 0%, 85% 0%, 82% 16%, 100% 15%, 100% 85%, 82% 82%, 85% 100%, 15% 100%, 18% 83%, 0% 85%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .read-more{ opacity: 1; }
.serviceBox .read-more:hover{
    color: #DC3F55;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.blue .service-icon:before{ background: linear-gradient(to right,#16C2D0 49%,#13AEB0 50%); }
.serviceBox.blue:hover .title{ color: #13AEB0; }
.serviceBox.blue .read-more{ background-color: #13AEB0; }
.serviceBox.blue .read-more:hover{
    color: #13AEB0;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.gray .service-icon:before{ background: linear-gradient(to right,#3C506B 49%,#304155 50%); }
.serviceBox.gray:hover .title{ color: #304155; }
.serviceBox.gray .read-more{ background-color: #304155; }
.serviceBox.gray .read-more:hover{
    color: #304155;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.yellow .service-icon:before{ background: linear-gradient(to right,#FDC72B 49%,#EDB21B 50%); }
.serviceBox.yellow:hover .title{ color: #EDB21B; }
.serviceBox.yellow .read-more{ background-color: #EDB21B; }
.serviceBox.yellow .read-more:hover{
    color: #EDB21B;
    background-color: rgba(0,0,0,0.1);
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 40px; }
}

/* =================== the process ================= */
 .heading{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
  }
 .heading::after{
    content: "";
    width: 130px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
background: #57AACD;
    left: 0;
    right: 0;
    bottom: -10px;
}
.main-timeline{
    overflow: hidden;
    position: relative;
}
.main-timeline .timeline{
    position: relative;
    margin-top: -79px;
}
.main-timeline .timeline:first-child{ margin-top: 0; }
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:before{
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.main-timeline .timeline-icon{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #13afae;
    border-right-color: #13afae;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);
}
.main-timeline .year{
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: #13afae;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}
.main-timeline .timeline-content{
    width: 35%;
    float: right;
    background: #13afae;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    width: 20%;
    height: 15px;
    background: #13afae;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%);
}
.main-timeline .title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0;
}
.main-timeline .description{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0;
}
.main-timeline .timeline:nth-child(2n):before{ box-shadow: 8px 0 5px -5px rgba(0, 0, 0, 0.5) inset; }
.main-timeline .timeline:nth-child(2n) .timeline-icon{ transform: rotate(-135deg); }
.main-timeline .timeline:nth-child(2n) .year{ transform: rotate(135deg); }
.main-timeline .timeline:nth-child(2n) .timeline-content{ float: left; }
.main-timeline .timeline:nth-child(2n) .timeline-content:before{
    left: auto;
    right: -20%;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    border-top-color: #f44556;
    border-right-color: #f44556;
}
.main-timeline .timeline:nth-child(2n) .year{ color: #f44556; }
.main-timeline .timeline:nth-child(2n) .timeline-content,
.main-timeline .timeline:nth-child(2n) .timeline-content:before{ background: #f44556; }
.main-timeline .timeline:nth-child(3n) .timeline-icon{
    border-top-color: #105572;
    border-right-color: #105572;
}
.main-timeline .timeline:nth-child(3n) .year{ color: #105572; }
.main-timeline .timeline:nth-child(3n) .timeline-content,
.main-timeline .timeline:nth-child(3n) .timeline-content:before{ background: #105572; }
.main-timeline .timeline:nth-child(4n) .timeline-icon{
    border-top-color: #105572;
    border-right-color: #105572;
}
.main-timeline .timeline:nth-child(4n) .year{ color: #105572; }
.main-timeline .timeline:nth-child(4n) .timeline-content,
.main-timeline .timeline:nth-child(4n) .timeline-content:before{ background: #105572; }
@media only screen and (max-width: 1199px){
    .main-timeline .timeline{ margin-top: -103px; }
    .main-timeline .timeline-content:before{ left: -18%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -18%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .timeline{ margin-top: -127px; }
    .main-timeline .timeline-content:before{ left: -2%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -2%; }
}
@media only screen and (max-width: 767px){
    .main-timeline .timeline{
        margin-top: 0;
        overflow: hidden;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        box-shadow: none;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon{
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg);
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ transform: rotate(-135deg); }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,0);
    }
}

/* ========================================= Document cards  */

.documents-cards {
	height: 200px;
}


 /* ===================== Requirements =================== */
#questions .container{
    margin-bottom: 50px;
}
