@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');


body{
	margin: 0;
	padding: 0;
	font-family: 'raleway',sans-serif;
  overflow-x: hidden;
 }
  
/* =========== mega menu ============= */
 *,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
a, a:hover, a.active, a:active, a:visited, a:focus{
	color:#fefefe;
	text-decoration:none;
}
.content{
  /* margin: 50px 100px 0px 100px; */
}

.exo-menu{
	width: 100%;
	float: left;
	list-style: none;
	position:relative;
	background: #23364B;
}
.exo-menu > li {	
  display: inline-block; 
  float: left;
}
.exo-menu > li > a{
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
	border-right: 1px #365670 dotted;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover{
	background:#009FE1;
	color:#fff;
}
.exo-menu i {
  float: left;
  font-size: 18px;
  margin-right: 6px;
  line-height: 20px !important;
}
li.drop-down,
.flyout-right,
.flyout-left{position:relative;}
li.drop-down:before {
  content: "\f103";
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  position: absolute;
  right: 6px;
  top: 20px;
  font-size: 14px;
}
li.drop-down>ul{
	left: 0px;
	min-width: 230px;

}
.drop-down-ul{display:none;}
.flyout-right>ul,
.flyout-left>ul{
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
  }

li.drop-down>ul>li>a,
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
	color: #fff;
	display: block;
	padding: 20px 22px;
	text-decoration: none;
	background-color: #365670;
	border-bottom: 1px dotted #547787;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
	border-bottom: 1px dotted #B8C7BC;
}

/*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display:none;
  padding-top: 0;
  min-height: 100%;

}
h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #547787;
  padding-top: 15px;
  background-color: #365670
  }
 .mega-menu ul li a {
  line-height: 25px;
  font-size: 90%;
  display: block;
}
ul.stander li a {
    padding: 3px 0px;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

ul.description li span {
    color: #ccc;
    font-size: 85%;
}
a.view-more{
  border-radius: 1px;
  margin-top:15px;
  background-color: #009FE1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important;
}
a.view-more:hover{
	color:#fff;
	background:#0DADEF;
}
ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}

/*common*/
.flyout-right ul>li>a ,
.flyout-left ul>li>a,
.flyout-mega-wrap,
.mega-menu{
	background-color: #547787;
}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left>ul:hover,
li.flyout-right>ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover +ul,
li.flyout-right a:hover +ul,
.blog-drop-down >a:hover+.Blog,
li.drop-down>a:hover +.drop-down-ul,
.images-drop-down>a:hover +.Images,
.mega-drop-down a:hover+.mega-menu,
li.flyout-mega>a:hover +.flyout-mega-wrap{
	display:block;
}
/*responsive*/
 @media (min-width:767px){
	.exo-menu > li > a{
	display:block;
	padding: 20px 22px;
 }
.mega-menu, .flyout-mega-wrap, .Images, .Blog,.flyout-right>ul,
.flyout-left>ul, li.drop-down>ul{
		position:absolute;
}
 .flyout-right>ul{
	left: 100%;
	}
	.flyout-left>ul{
	right: 100%;
}
 }
@media (max-width:767px){

	.exo-menu {
		min-height: 58px;
		background-color: #23364B;
		width: 100%;
	}
	
	.exo-menu > li > a{
		width:100% ;
	    display:none ;
	
	}
	.exo-menu > li{
		width:100%;
	}
	.display.exo-menu > li > a{
	  display:block ;
	  	padding: 20px 22px;
	}
	
.mega-menu, .Images, .Blog,.flyout-right>ul,
.flyout-left>ul, li.drop-down>ul{
		position:relative;
}

}
a.toggle-menu{
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 27px;
    background-color: #ccc;
    color: #23364B;
    top: 0px;
}

/* ============== sidenav ============ */

/* =============== our services ============  */
#services .heading{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
#services .heading::after{
	content: "";
	width: 130px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
  background: #57AACD;
	left: 0;
	right: 0;
	bottom: -10px;
}
.demo{ padding-bottom: 40px; }
.serviceBox{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 10px;
 }
.serviceBox .service-icon{
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    font-size: 50px;
    line-height: 170px;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{ font-size: 60px; }
.serviceBox .service-icon:before{
    content: '';
    height: 90%;
    width: 90%;
    background: linear-gradient(to right,#F64354 49%,#DC3F55 50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon:before{
    height: 83%;
    width: 83%;
}
.serviceBox .title{
    color: #404040;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .title{ color: #DC3F55; }
.serviceBox .description{
    color: #808080;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.serviceBox .read-more{
    color: #fff;
    background-color: #DC3F55;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    opacity: 0;
    display: inline-block;
    -webkit-clip-path: polygon(0% 15%, 16% 18%, 15% 0%, 85% 0%, 82% 16%, 100% 15%, 100% 85%, 82% 82%, 85% 100%, 15% 100%, 18% 83%, 0% 85%);
    clip-path: polygon(0% 15%, 16% 18%, 15% 0%, 85% 0%, 82% 16%, 100% 15%, 100% 85%, 82% 82%, 85% 100%, 15% 100%, 18% 83%, 0% 85%);
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .read-more{ opacity: 1; }
.serviceBox .read-more:hover{
    color: #DC3F55;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.blue .service-icon:before{ background: linear-gradient(to right,#16C2D0 49%,#13AEB0 50%); }
.serviceBox.blue:hover .title{ color: #13AEB0; }
.serviceBox.blue .read-more{ background-color: #13AEB0; }
.serviceBox.blue .read-more:hover{
    color: #13AEB0;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.gray .service-icon:before{ background: linear-gradient(to right,#3C506B 49%,#304155 50%); }
.serviceBox.gray:hover .title{ color: #304155; }
.serviceBox.gray .read-more{ background-color: #304155; }
.serviceBox.gray .read-more:hover{
    color: #304155;
    background-color: rgba(0,0,0,0.1);
}
.serviceBox.yellow .service-icon:before{ background: linear-gradient(to right,#FDC72B 49%,#EDB21B 50%); }
.serviceBox.yellow:hover .title{ color: #EDB21B; }
.serviceBox.yellow .read-more{ background-color: #EDB21B; }
.serviceBox.yellow .read-more:hover{
    color: #EDB21B;
    background-color: rgba(0,0,0,0.1);
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 40px; }
}
